body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px;
    padding: 0;
}

header, main, footer {
    display: flex;
    justify-content: space-between;
}

main, footer {
    background-color: #fff;
}

h1 {
    font-size: 50px;
}

p, li, h1, h2, a {
    color: #1F2C67;
}

.gauche {
    width: 30%;
    background-color: #D6E8F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 220px;
    margin-top: 80px;
    margin-right: 70px;
}

.droite {
    width: 65%;
    margin: 50px;
    background-color: #fff;
}

.textedroit {
    text-align: right;
}

img {
    width: 15%;
    height: auto;
}

@media screen and (max-width: 430px) {
    body {
        margin: 10px;
    }

    h1 {
        text-align: right;
        font-size: 30px;
    }

    h2 {
        font-size: 17px;
    }

    header h2 {
        text-align: right;
    }

    .gauche {
        width: 47%;
        margin-top: 30px;
        margin-right: 30px;
    }

    .droite {
        width: 53%;
        margin: 0;
        margin-top: 30px;
    }

    img {
        width: 35%;
    }
}
